<style type="text/css" media="screen">

article .entry-content img {
  float: left;
  margin-right: 1em;
}

article h2 {
  padding-top: 2em;
  clear: both;
}

article .entry-content{
  clear: both;
}

#about-grid {
  clear:both;
}
#about-grid p {
  clear: both;
  float: left;
  width: 100%;
  line-height: 1.2em;
  padding-top: 1em;
}
#about-grid div {
  position: relative;
  width:20%;
  margin-right: 2%;
  float: left;
  padding: 10px;
  text-align: center;
}
#about-grid img {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa;
}
</style>